#include "resource.h"

IDR_MENU1 MENU
BEGIN
  POPUP "&Game"
  BEGIN
    MENUITEM "&Restart Game\tAlt+R", ID_RESTARTGAME
    MENUITEM "Restart &Stage\tAlt+F2", ID_RESTARTSTAGE
    MENUITEM "&Pause Game\tF3", ID_PAUSEGAME
    MENUITEM "E&xit Game\tAlt+F4", ID_EXITGAME
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&Full Screen\tF4", ID_OPTIONS_FULLSCREEN
    MENUITEM "&Menu Bar\tF5", ID_OPTIONS_MENUBAR
    MENUITEM "Smooth &Sonic\tF6", ID_OPTIONS_SMOOTHSONIC
    MENUITEM SEPARATOR
    MENUITEM "Change &Controls...\tF7", ID_OPTIONS_CHANGECONTROLS
    MENUITEM SEPARATOR
    MENUITEM "&Use Keyboard\tF8", ID_OPTIONS_USEKEYBOARD
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Contents\tF1", ID_HELP_CONTENTS
    MENUITEM "How to &Play the Game", ID_HELP_HOWTOPLAY
    MENUITEM "&Keyboard and Joystick Controls", ID_HELP_CONTROLS
    MENUITEM "History of the Sonic &Games", ID_HELP_HISTORY
    MENUITEM "&SEGA Gameplay Hotline", ID_HELP_HOTLINE
    MENUITEM "&How to use Help", ID_HELP_HOWTOUSE
    MENUITEM SEPARATOR
    MENUITEM "&About Sonic the Hedgehog CD", ID_HELP_ABOUT
  END
END

IDR_MENU2 MENU
BEGIN
  POPUP "&Game"
  BEGIN
    MENUITEM "&Restart Game\tAlt+R", ID_RESTARTGAME
    MENUITEM "Restart &Stage\tAlt+F2", ID_RESTARTSTAGE
    MENUITEM "&Pause Game\tF3", ID_PAUSEGAME
    MENUITEM "E&xit Game\tAlt+F4", ID_EXITGAME
  END
  POPUP "&Options"
  BEGIN
    MENUITEM "&Full Screen\tF4", ID_OPTIONS_FULLSCREEN
    MENUITEM "&Menu Bar\tF5", ID_OPTIONS_MENUBAR
    MENUITEM "Smooth &Sonic\tF6", ID_OPTIONS_SMOOTHSONIC
    MENUITEM SEPARATOR
    MENUITEM "Change &Controls...\tF7", ID_OPTIONS_CHANGECONTROLS
    MENUITEM SEPARATOR
    MENUITEM "&Use Keyboard\tF8", ID_OPTIONS_USEKEYBOARD
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&Contents\tF1", ID_HELP_CONTENTS
    MENUITEM "How to &Play the Game", ID_HELP_HOWTOPLAY
    MENUITEM "&Keyboard and Joystick Controls", ID_HELP_CONTROLS
    MENUITEM "History of the Sonic &Games", ID_HELP_HISTORY
    MENUITEM "&SEGA Gameplay Hotline", ID_HELP_HOTLINE
    MENUITEM "&How to use Help", ID_HELP_HOWTOUSE
    MENUITEM SEPARATOR
    MENUITEM "&About Sonic the Hedgehog CD", ID_HELP_ABOUT
  END
  POPUP "&Stage"
  BEGIN
    POPUP "R&1"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A(Now)", ID_STAGE_R11A
        MENUITEM "&B(Past)", ID_STAGE_R11B
        MENUITEM "&C(Good Future)", ID_STAGE_R11C
        MENUITEM "&D(Bad Future)", ID_STAGE_R11D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R12A
        MENUITEM "&B", ID_STAGE_R12B
        MENUITEM "&C", ID_STAGE_R12C
        MENUITEM "&D", ID_STAGE_R12D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R13C
        MENUITEM "&D", ID_STAGE_R13D
      END
    END
    POPUP "R&3"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R31A
        MENUITEM "&B", ID_STAGE_R31B
        MENUITEM "&C", ID_STAGE_R31C
        MENUITEM "&D", ID_STAGE_R31D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R32A
        MENUITEM "&B", ID_STAGE_R32B
        MENUITEM "&C", ID_STAGE_R32C
        MENUITEM "&D", ID_STAGE_R32D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R33C
        MENUITEM "&D", ID_STAGE_R33D
      END
    END
    POPUP "R&4"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R41A
        MENUITEM "&B", ID_STAGE_R41B
        MENUITEM "&C", ID_STAGE_R41C
        MENUITEM "&D", ID_STAGE_R41D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R42A
        MENUITEM "&B", ID_STAGE_R42B
        MENUITEM "&C", ID_STAGE_R42C
        MENUITEM "&D", ID_STAGE_R42D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R43C
        MENUITEM "&D", ID_STAGE_R43D
      END
    END
    POPUP "R&5"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R51A
        MENUITEM "&B", ID_STAGE_R51B
        MENUITEM "&C", ID_STAGE_R51C
        MENUITEM "&D", ID_STAGE_R51D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R52A
        MENUITEM "&B", ID_STAGE_R52B
        MENUITEM "&C", ID_STAGE_R52C
        MENUITEM "&D", ID_STAGE_R52D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R53C
        MENUITEM "&D", ID_STAGE_R53D
      END
    END
    POPUP "R&6"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R61A
        MENUITEM "&B", ID_STAGE_R61B
        MENUITEM "&C", ID_STAGE_R61C
        MENUITEM "&D", ID_STAGE_R61D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R62A
        MENUITEM "&B", ID_STAGE_R62B
        MENUITEM "&C", ID_STAGE_R62C
        MENUITEM "&D", ID_STAGE_R62D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R63C
        MENUITEM "&D", ID_STAGE_R63D
      END
    END
    POPUP "R&7"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R71A
        MENUITEM "&B", ID_STAGE_R71B
        MENUITEM "&C", ID_STAGE_R71C
        MENUITEM "&D", ID_STAGE_R71D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R72A
        MENUITEM "&B", ID_STAGE_R72B
        MENUITEM "&C", ID_STAGE_R72C
        MENUITEM "&D", ID_STAGE_R72D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R73C
        MENUITEM "&D", ID_STAGE_R73D
      END
    END
    POPUP "R&8"
    BEGIN
      POPUP "&1"
      BEGIN
        MENUITEM "&A", ID_STAGE_R81A
        MENUITEM "&B", ID_STAGE_R81B
        MENUITEM "&C", ID_STAGE_R81C
        MENUITEM "&D", ID_STAGE_R81D
      END
      POPUP "&2"
      BEGIN
        MENUITEM "&A", ID_STAGE_R82A
        MENUITEM "&B", ID_STAGE_R82B
        MENUITEM "&C", ID_STAGE_R82C
        MENUITEM "&D", ID_STAGE_R82D
      END
      POPUP "&3"
      BEGIN
        MENUITEM "&C", ID_STAGE_R83C
        MENUITEM "&D", ID_STAGE_R83D
      END
    END
    BEGIN
      POPUP "S&pecial"
      BEGIN
        MENUITEM "R&1", ID_STAGE_SPECIAL_R1
        MENUITEM "R&2", ID_STAGE_SPECIAL_R2
        MENUITEM "R&3", ID_STAGE_SPECIAL_R3
        MENUITEM "R&4", ID_STAGE_SPECIAL_R4
        MENUITEM "R&5", ID_STAGE_SPECIAL_R5
        MENUITEM "R&6", ID_STAGE_SPECIAL_R6
        MENUITEM "R&7", ID_STAGE_SPECIAL_R7
        MENUITEM "R&8(EGGMAN)", ID_STAGE_SPECIAL_R8
      END
    END
  END
  POPUP "&FUNC"
  BEGIN
    MENUITEM "&SpriteCmp", ID_FUNC_SPRITECMP
    MENUITEM "&mapinit()", ID_FUNC_MAPINIT
    MENUITEM SEPARATOR
    MENUITEM "DEBUGFLAG", ID_FUNC_DEBUGFLAG
    MENUITEM "SPECIALDEBUG", ID_FUNC_SPECIALDEBUG
    MENUITEM "TIME&WARP", ID_FUNC_TIMEWARP
    MENUITEM "GO_SPECIAL", ID_FUNC_GOSPECIAL
    MENUITEM SEPARATOR
    MENUITEM "GOODEND", ID_FUNC_GOODEND
    MENUITEM "Flags", ID_FUNC_FLAGS
    MENUITEM SEPARATOR
    POPUP "FRAME"
    BEGIN
      MENUITEM "60", ID_FUNC_FRAME_60
      MENUITEM "30", ID_FUNC_FRAME_30
    END
    MENUITEM SEPARATOR
    MENUITEM "&Timer\t(STAT)", ID_FUNC_TIMER
    MENUITEM "TimerInit\t(STAT)", ID_FUNC_TIMERINIT
    MENUITEM "&AVE_300Frame\t(STAT)", ID_FUNC_AVE300FRAME
    MENUITEM SEPARATOR
    MENUITEM "&MMTimer", ID_FUNC_MMTIMER
    MENUITEM SEPARATOR
    MENUITEM "SndMemFree", ID_FUNC_SNDMEMFREE
    MENUITEM SEPARATOR
    MENUITEM "RecStart\t(Demo)" ID_FUNC_RECSTART
    MENUITEM "RecEnd", ID_FUNC_RECEND
    MENUITEM "RecPlay", ID_FUNC_RECPLAY
    MENUITEM "RecRead", ID_FUNC_RECREAD
    MENUITEM "RecWrite", ID_FUNC_RECWRITE
    MENUITEM SEPARATOR
    POPUP "Demo"
    BEGIN
      MENUITEM "AVI", ID_FUNC_DEMO_AVI
      MENUITEM "11A", ID_FUNC_DEMO_11A
      MENUITEM "SPE1", ID_FUNC_DEMO_SPE1
      MENUITEM "43C", ID_FUNC_DEMO_43C
      MENUITEM "SPE5", ID_FUNC_DEMO_SPE5
      MENUITEM "82A", ID_FUNC_DEMO_82A
    END
    MENUITEM SEPARATOR
    MENUITEM "WAVEOPEN", ID_FUNC_WAVEOPEN
    MENUITEM "WAVECLOSE", ID_FUNC_WAVECLOSE
    MENUITEM SEPARATOR
    MENUITEM "CDReset", ID_FUNC_CDRESET
  END
END

STRINGTABLE
BEGIN
IDS_EMPTY_976 ""
IDS_EMPTY_977 ""
IDS_EMPTY_978 ""
IDS_EMPTY_979 ""
IDS_EMPTY_980 ""
IDS_EMPTY_981 ""
IDS_EMPTY_982 ""
IDS_EMPTY_983 ""
IDS_EMPTY_984 ""
IDS_EMPTY_985 ""
IDS_EMPTY_986 ""
IDS_EMPTY_987 ""
IDS_EMPTY_988 ""
IDS_EMPTY_989 ""
IDS_GOODSOUNDQUALITY "Good Sound &Quality\tF9"
IDS_BETTERSOUNDQUALITY "Better Sound &Quality\tF9"
END

STRINGTABLE
BEGIN
IDS_USEJOYSTICK "&Use Joystick\tF8"
IDS_USEKEYBOARD "&Use Keyboard\tF8"
IDS_FASTSONIC "Fast &Sonic\tF6"
IDS_SMOOTHSONIC "Smooth &Sonic\tF6"
IDS_EMPTY_996 ""
IDS_EMPTY_997 ""
IDS_EMPTY_998 ""
IDS_EMPTY_999 ""
IDS_EMPTY_1000 ""
IDS_EMPTY_1001 ""
IDS_EMPTY_1002 ""
IDS_EMPTY_1003 ""
IDS_EMPTY_1004 ""
IDS_EMPTY_1005 ""
IDS_EMPTY_1006 ""
IDS_EMPTY_1007 ""
END
